.weatherInfo{
    width:100%;
     background-size: cover;
     margin: 0;
     color:white;
 }
 section{
     font-size: 15px;
     background-color: gray;
 }
 form{
     font-size: 20px;
     font-weight: 500;  
 }
 section > h2 {
     color: white;
     font-weight: 200;
     text-decoration: none;
 }
 input{
     border-radius: 20px;
     color:black;
     font-size: 15px;
 }
 input:hover{
     color: gray;
 }
 .render > h1,h2{
     color: black;
     text-decoration: underline;    
 }
 .render{
     padding-top:50px;
     margin: 15px;
 }
 @media (min-width: 768px) and (max-width: 1023px){
     .render > p{
         color: black;
     }
 }
 @media (min-width: 1024px){
     .render > p{
         
         border-radius: 10px;
     }
 }
